.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch{
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    position: sticky;
    top: 10px;
    border-radius: 10px;
    height: max-content;
}

.isTitle{
    font-size: 20px;
    color: grey;
    margin-bottom: 10px;
}

.isItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.isItem>label{
    font-size: 12px;
}

.isItem>input{
    height: 30px;
    border: none;
    padding: 5px;
}

.isItem>span{
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listResult{
    flex: 3;
}

.isOptions{
    padding: 10px;
}

.OptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
}

.isOptionInput{
    width: 50px;
}

.listSearch>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
}